header {
  height: 100px;
  width: 100%;
  /* Sets border to bottom only */
  border-bottom: 10px solid darkblue;
  background-color: #999900;
}
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}